.titulo{
    width: 50vw;
    height: 20vh;
    background-color: cadetblue;
    margin: auto;
    margin-top: 10vh;
    position: block;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}